@font-face {
    font-family: 'Raleway regular';
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: 'Raleway medium';
    src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
    font-family: 'Raleway bold';
    src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
    font-family: 'Raleway extrabold';
    src: url("../fonts/Raleway-ExtraBold.ttf");
}
html{
    box-sizing: border-box; 
    -webkit-text-size-adjust: 100%;  
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%;
    line-height: 1;
    height: 100%;
    width: 100%;
    
}
::placeholder{
    color: rgba(40, 86, 134, 1);
    font-size: 13px;
    font-family: "Raleway regular";
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
 }
input, textarea{
    background-color: rgba(234, 244, 255, 1);
    border: 1px solid #87B5E5;
}
label,.checkbox_agree{
    color: #000;
    font-size: 15px;
    font-family: "Raleway medium";
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

*, *::before, *::after{
    box-sizing: inherit;
}
* {
    margin: 0;
}

body{
    position: relative;
    font-family: 'Основной'; 
    font-size: 16px;
    line-height: 1.2;
    color: black;

}

@media(max-width:475px) {
    .title_item {
        font-size: 20px !important;
    }

    p, ul, li {
        font-size: 15px !important;
    }

    a {
        font-size: 15px !important;
    }
}

@media(max-width:475px) {
    /* общее */

    h1 {
        font-size: 15px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    .blue_line {
        width: 10px !important; 
        height: 93px !important;
    }

    #photos {
        padding: 20px 40px;
    }
}

.blue_line {
    width: 10px !important; 
    height: 93px !important;
}

#photos {
    padding: 20px 40px;
}
}

.text_inform {
    padding-bottom: 100px;
}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}


/* Привью. контейнеры главной страницы */
.parallax{
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-image: url(../img/photo_5_1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.overlay{
    background: rgba(33, 33, 33, 0.75);
    height: 100%;
}


/* менюшка */
.header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}
.header_wrapper{
    max-width: 1200px;
    height: 165px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
}

.header_item:nth-child(2) {
    margin-right: 0px;
}

.menu_list{
    display:flex;
    flex-wrap: wrap;
}

.link_fon{
    width: 164px;
    height: 48px;
    opacity: 0.9;
    
    display: flex;
    justify-content: flex-end;
}

.header_item{
    margin-right: 48px;
    list-style-type:none;
}

.header_item:last-child{
    margin-right: 0px;
}   

.header_link{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Raleway bold';
    line-height: 130%;  
    text-decoration: none;
        
    display: flex;
    align-items: center;
    text-align: center;
    
}

.header_logo_lonk{
    width: 35px;
    margin: 25px;
    display: flex;
    justify-content: center;
}

.logo_profcom {
    width: 108px;
    height: 38px;
}

.logo_sgtu{
    width: 110px;
    margin-left: 86px;
}

/*Меню. При наведении на кнопки */
.header_link:hover, .header_link:focus,.header_link:active{
    color:rgba(0, 97, 199, 1);
    
}
/* если нужен будет фон */
/* .link_fon:hover, .link_fon:focus,.link_fon:active{
    
    background-color:rgba(217, 217, 217, 0.5) ;

} */

/*Это всё еще привью  */

.parallax-container {
    display: flex;
    max-width: 56%;
}
.parallax-conteiner-title {
   font-family: 'Raleway extrabold';
   padding-top: 40px;
   color:rgb(255, 255, 255);
}
.parallax-conteiner-text{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-top: 20px;
}
@media(max-width:710px) {
    .parallax-conteiner-text{
       display: flex;
       flex-direction: column;
    }
    .parallax-conteiner-title{
        padding-top: 50px;
    }
}
.text_inform{
    font-family: 'Raleway bold';
    padding-right: 10px;
    font-size: 20px;
}
@media(max-width:800px) {
    .text_inform{
        font-family: 'Raleway bold';
        padding-right: 10px;
        font-size: 14px;
    }
}

@media(max-width:475px) {

    .logo_sgtu{
        margin: 0 !important;
    }

    .paralax-content {
        padding: 0 5% !important;
    }

    .menu_list {
        flex-wrap: nowrap;
    }

    .header_link {
        font-size: 12px;
    }

    .link_fon {
        width: 100%;
    }

    li.header_item { 
        padding: 0 1%;
    }

    .parallax-conteiner-title {
        padding-top: 2%;
    }

    .header_item {
        margin-right: 0px;
    }
}

@media(max-width:400px) {

    .logo_sgtu{
        margin: 0 !important;
    }

    .paralax-content {
        padding: 0 5% !important;
    }
}

@media(max-width:380px) {

    .logo_sgtu{
        margin: 0 !important;
    }

    .paralax-content {
        padding: 0 5% !important;
    }
}

/* */

#photos {
    width: 100%;
    margin: 0 auto;
    padding: 60px 230px;
}

.blue_line{
    width: 16px;
    height: 120px;
    background-color: #007CFF;
}

.photos_title {
    display: flex;
    flex-direction: row;
    font-family: "Заголовок";
    color: #000000;
}

.title_item{
    padding-top: 38px;
    padding-left: 20px;
    color: #0051A7;
    font-size: 36px;
    font-family: "Raleway bold";

}

.inner_text{
    color: #000;
    text-align: justify;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 5%;
    font-family: "Raleway regular";
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-indent: 38px;
}
/* НОВОСТЬ */
/* -------------------------------------------------------------------------------------------------- */

    .content {
        color: #000;
        text-align: justify;
        font-size: 20px;
        font-family: "Raleway regular";
        font-style: normal;
        font-weight: 400;
    }

    .title {
        margin-top: 20px;
        color: #0051A7;
    }

    .photo img{
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 60%;
    }

  @media(max-width:475px) {

    #photos {
        margin: 0 5%;
        width: 90%;
        padding: 60px 0px;
    }

    .wrap {
        height: 22vh;
        width: 100%;
    }

    .galerey-wrapper {
        padding: 10px;
    }

    #slider-photo {
        height: 22vh;
    }

    .slide-content{
        height: 22vh;
        width: 80%;
    }

    #arrow-left {
        border-width : 30px 21px 30px 0;
        margin-left : 0px;
    }

    #arrow-right {
        border-width : 30px 0px 30px 21px;
        margin-right: 0px;
  }
}

.back {
    font-size: 20px;
    font-family: "Raleway bold";
}
/* -------------------------------------------------------------------------------------------------- */

/* контакты */
.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 50px 0;
}
/* подвал */

.footer{
    display: flex;
    width: 100%;

    background-color:rgba(40, 40, 40, 1);
}
.footer .header_menu_logo_footer{
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
}
.header_menu_logo_footer{
    display: flex;
    justify-content: space-between;
}
.logo_vk{
    height: 45px;
}

.logo_sstu{
    height: 30px;
}
.container_footer{
    display: flex;
    flex-direction: column;
}
.footer_text{
    color: #FFF;
    font-family: "Raleway bold";
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    font-size: 18px;
    line-height: 160%;
    color: #ffffff;

    margin-top: 30px;
}
.footer_description{
    font-family: "Raleway medium";
    font-size: 18px;
    line-height: 160%;
    margin: 15px 10%;
    color: #ffffff;

}

@media(max-width:475px) {
    .inner_text {
        text-align: left;
    }
}

@media(max-width:400px) {
    .inner_text {
        text-align: left;
    }
}

@media(max-width:380px) {
    .inner_text {
        text-align: left;
    }
}
